
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.test {
    background-color: #333;
}

header {
    width: 100%;
    max-width: 960px;
    height: 120px;
    background-color: black;
    display: flex;
}

.main-text {
    color: #fff;
}

.secondary-text {
    color: #fff;
}

.menu-text {
    color: #ababab;
}